name: Build operator and push
on: [push]
jobs:
  run-operator-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: xunholy/operator-sdk-action@master
        with:
          image: "dictmm/opencast-operator"
          tag: latest
          dirPath: "/build/dockerfile"
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: dictmm/opencast-operator
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
